
          <div class="publications">
            <h2>Selected Projects</h2>
            {%- assign selected_projects = site.projects | where: "selected", true | sort: "importance" %}
            {%- if selected_projects.size == 0 %}
              {%- assign selected_projects = site.projects | sort: "importance" %}
            {%- endif %}
            <ol class="bibliography">
            {%- for project in selected_projects limit: page.projects_limit %}
              <li>
                <div class="row">
                  <div class="col-sm-4 preview">
                    {% if project.redirect -%}
                      <a href="{{ project.redirect }}">
                    {%- else -%}
                      <a href="{{ project.url | relative_url }}">
                    {%- endif %}
                      {% if project.img -%}
                        {% include figure.html
                          path=project.img
                          class="preview z-depth-1 rounded"
                          alt="project thumbnail" %}
                      {%- endif %}
                      </a>
                  </div>
                  <div class="col-sm-8">
                    <div class="title">
                      {% if project.redirect -%}
                        <a href="{{ project.redirect }}">{{ project.title }}</a>
                      {%- else -%}
                        <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
                      {%- endif %}
                    </div>
                    <div class="author">{{ project.description }}</div>
                  </div>
                </div>
              </li>
            {%- endfor %}
            </ol>
          </div>

