          <div class="publications">
            <h2>Selected Projects</h2>
            {%- assign selected_projects = site.projects | where: "selected", true | sort: "importance" %}
            {%- if selected_projects.size == 0 %}
              {%- assign selected_projects = site.projects | sort: "importance" %}
            {%- endif %}
            <ol class="bibliography">
            {%- for project in selected_projects limit: page.projects_limit %}
              {%- if project.redirect -%}
                {%- assign project_link = project.redirect -%}
              {%- else -%}
                {%- assign project_link = project.url | relative_url -%}
              {%- endif -%}
              <li>
                <div class="row">
                  <div class="col-sm-5 preview">
                    {%- if project.img %}
                    <div class="preview-frame fit-cover">
                      <a href="{{ project_link }}">
                        <img class="preview" src="{{ project.img | relative_url }}" alt="{{ project.title }}">
                      </a>
                    </div>
                    {%- endif %}
                  </div>
                  <div class="col-sm-7">
                    <!-- Title -->
                    <div class="title">
                      <a href="{{ project_link }}">{{ project.title }}</a>
                    </div>

                    <!-- Summary -->
                    {%- if project.description %}
                    <div class="tldr">{{ project.description }}</div>
                    {%- endif %}

                    <!-- Links -->
                    <div class="links">
                      <a href="{{ project_link }}" class="btn btn-sm z-depth-0" role="button">Details</a>
                    </div>
                  </div>
                </div>
              </li>
            {%- endfor %}
            </ol>
          </div>
